# Core de LangChain y Modelos
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
google-generativeai

# Grafo y Lógica del Agente
langgraph

# Estructuración de Datos
pydantic

# Manejo de Documentos y Base de Datos Vectorial
faiss-cpu
pymupdf

# Gestión de Variables de Entorno Local
python-dotenv
